<!--Component Pagination-->
<div class="pagination" id="pagination"></div>
<div class="pagination-circle">
    <div class="pagination-circle__list">
        <a href="#" onclick="return false" class="pagination-circle__link active"></a>
        <a href="#" onclick="return false" class="pagination-circle__link"></a>
        <a href="#" onclick="return false" class="pagination-circle__link"></a>
        <a href="#" onclick="return false" class="pagination-circle__link"></a>
        <a href="#" onclick="return false" class="pagination-circle__link"></a>
        <a href="#" onclick="return false" class="pagination-circle__link"></a>
    </div>
</div>