<!--Component Checkboxes-->

<div class="radios-wrap">
    <!--Regular-->
    <div class="radio">
        <input class="radio__input" id="option" type="radio" name="option" value="option" />
        <label class="radio__label" for="option">Label</label>
    </div>
    <div class="radio">
        <input class="radio__input" id="option2" type="radio" name="option" value="option" />
        <label class="radio__label" for="option2">Label</label>
    </div>
    <div class="radio">
        <input class="radio__input" id="option4" type="radio" name="option" value="option" disabled />
        <label class="radio__label" for="option4">Label, disabled</label>
    </div>
    <div class="radio disabled">
        <input class="radio__input" id="option3" type="radio" name="option" value="option" checked disabled />
        <label class="radio__label" for="option3">Label, disabled</label>
    </div>
</div>


