<!--Component Button-->

<!--buttons BEGIN-->
<div class="btn-wrap">
    <!--    primary buttons-->
    <!--    size options-->
    <div class="btn-wrap__line btn-wrap__line--nowrap">
        <button type="button" class="btn-primary btn--small">
            Primary, small
        </button>
        <button type="button" class="btn-primary">
            Primary, regular
        </button>
        <button type="button" class="btn-primary btn--large">
            Primary, large
        </button>
        <button type="button" class="btn-primary btn-primary--disabled">
            Primary, disabled
        </button>
    </div>
    
    <!--   Secondary btn state options-->
    <div class="btn-wrap__line">
        <button type="button" class="btn-secondary btn--small">
            Secondary, small
        </button>
        <button type="button" class="btn-secondary">
            Secondary, regular
        </button>
        <button type="button" class="btn-secondary btn--large">
            Secondary, large
        </button>
        <button type="button" class="btn-secondary btn-secondary--disabled">
            Secondary, disabled
        </button>
    </div>
    
    <!--   Special btn state options-->
    <div class="btn-wrap__line">
        <button type="button" class="btn-special btn--small">
            Special, small
        </button>
        <button type="button" class="btn-special">
            Special, regular
        </button>
        <button type="button" class="btn-special btn--large">
            Special, large
        </button>
    </div>
    
    <!--   Danger btn state options-->
    <div class="btn-wrap__line">
        <button type="button" class="btn-danger btn--small">
            Danger, small
        </button>
        <button type="button" class="btn-danger">
            Danger, regular
        </button>
        <button type="button" class="btn-danger btn--large">
            Danger, large
        </button>
        <button type="button" class="btn-danger btn-danger--disabled">
            Danger, disabled
        </button>
    </div>
    
    <!--   Primary glass btn state options-->
    <div class="btn-wrap__line">
        <button type="button" class="btn-primary-glass btn--small">
            Primary glass, small
        </button>
        <button type="button" class="btn-primary-glass">
            Primary glass, regular
        </button>
        <button type="button" class="btn-primary-glass btn--large">
            Primary glass, large
        </button>
        <button type="button" class="btn-primary-glass btn-primary-glass--disabled">
            Primary glass, disabled
        </button>
    </div>
    
    <!--   Secondary glass btn state options-->
    <div class="btn-wrap__line">
        <button type="button" class="btn-secondary-glass btn--small">
            Secondary glass, small
        </button>
        <button type="button" class="btn-secondary-glass">
            Secondary glass, regular
        </button>
        <button type="button" class="btn-secondary-glass  btn--large">
            Secondary glass, large
        </button>
        <button type="button" class="btn-secondary-glass btn-secondary-glass--disabled">
            Secondary glass, disabled
        </button>
    </div>
</div>


<!--Special glass btn state options and round buttons-->
    <!--
    <div class="btn-wrap__line">
        <button type="button" class="btn-special-glass">
            Special glass
        </button>
        <button type="button" class="btn-special-glass btn-special-glass--hover">
            Hover
        </button>
        <button type="button" class="btn-special-glass btn-special-glass--active">
            Active
        </button>
        <button type="button" class="btn-special-glass btn-special-glass--disabled">
            Disabled
        </button>
    </div>
    
   
    <div class="btn-wrap__line">
        <button type="button" class="btn-round">
            Round
        </button>
        <button type="button" class="btn-round btn-round--hover">
            Hover
        </button>
        <button type="button" class="btn-round btn-round--active">
            Active
        </button>
        <button type="button" class="btn-round btn-round--disabled">
            Disabled
        </button>
    </div>
    
    
    <br> <br>
    <div class="btn-wrap__line"></div>
    <div class="btn-wrap__line"></div>
    <div class="btn-wrap__line"></div>
    <div class="btn-wrap__line"></div>
    <div class="btn-wrap__line"></div>
    <div class="btn-wrap__line"></div>
    <div class="btn-wrap__line"></div>
    <div class="btn-wrap__line"></div>
    
    <button type="button" class="btn-primary-glass--check">
        Primary glass--check
    </button>
    
    
    <button type="button" class="btn-secondary--dark">
        Secondary dark
    </button>
    
    <button type="button" class="btn-danger--light">
        Danger light
    </button>

-->
<!--buttons END-->
