<!--Component Modal-->
<div class="test">
    <!--Dashboard modal-->
    <section class="modal modal--dashboard show">
        <div class="container--modal">
            <div class="modal__wrapper">
                <div id="modal__close" class="modal__close"></div>
                <div class="modal__info">
                    <div class="modal__text">
                        <h2 class="heading-38 modal__title">Dashboard modal</h2>
                        <p class="modal__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. </p>
                        <div class="btn-block btn-block--left">
                            <a href="#" onclick="return false" class="btn-secondary">Secondary</a>
                            <a href="#" onclick="return false" class="btn-primary">Primary</a>
                        </div>
                    </div>
                    <div class="modal__image">
                        <span class="modal__img" style="background-image: url('./assets/img/test1.svg')"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Regular modal-->
    <section class="modal modal--regular show">
        <div class="container">
            <div class="modal__wrapper">
                <div class="modal__close"></div>
                <div class="modal__info">
                    <div class="modal__text">
                        <h2 class="heading-20 modal__title">Regular Modal</h2>
                        <p class="modal__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <div class="btn-block btn-block--right">
                            <a href="#" onclick="return false" class="btn-secondary">Secondary</a>
                            <a href="#" onclick="return false" class="btn-primary">Primary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Informative modal-->
    <section class="modal-info show">
        <div class="container">
            <div class="modal-info__wrapper">
                <div class="text-14 modal-info__text">
                    <span class="text--semibold">Informative modal</span>
                    Lorem ipsum dolor sit amet, consectetur
                    <a href="#" class="modal-link--primary">adipiscing eiusmod</a>
                    tempor.
                </div>
            </div>
        </div>
    </section>

    <!--Warning modal -->
    <section class="modal-info modal-info--warning show">
        <div class="container">
            <div class="modal-info__wrapper">
                <div class="modal-info__text">
                    <span class="text--semibold">Warning modal </span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod tempor.
                </div>
            </div>
        </div>
    </section>

    <!--Error modal-->
    <section class="modal-info modal-info--error show">
        <div class="container">
            <div class="modal-info__wrapper">
                <div class="modal-info__text">
                    <span class="text--semibold">Error modal</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod tempor.
                </div>
            </div>
        </div>
    </section>
</div>
