<!--Component Checkboxes-->

<div class="checkboxes-wrap">
    <!--Regular-->
    <div class="checkboxes-column">
        <div class="checkbox">
            <input checked class="checkbox__field" id="checkbox" name="checkbox" type="checkbox">
            <svg class="checkbox__icon icon-checked">
                <use xlink:href="assets/sprite.svg#icon-checked"></use>
            </svg>
            <label class="checkbox__label" for="checkbox">Label, regular</label>
        </div>
        <div class="checkbox">
            <input class="checkbox__field" id="checkbox2" name="checkbox" type="checkbox">
            <svg class="checkbox__icon icon-checked">
                <use xlink:href="assets/sprite.svg#icon-checked"></use>
            </svg>
            <label class="checkbox__label" for="checkbox2">Label, regular</label>
        </div>
        <div class="checkbox">
            <input class="checkbox__field" disabled id="checkbox3" name="checkbox" type="checkbox">
            <svg class="checkbox__icon icon-checked">
                <use xlink:href="assets/sprite.svg#icon-checked"></use>
            </svg>
            <label class="checkbox__label" for="checkbox3">Label, disabled</label>
        </div>

        <div class="checkbox">
            <input checked class="checkbox__field" disabled id="checkbox4" name="checkbox" type="checkbox">
            <svg class="checkbox__icon icon-checked">
                <use xlink:href="assets/sprite.svg#icon-checked"></use>
            </svg>
            <label class="checkbox__label" for="checkbox4">Label, disabled</label>
        </div>
    </div>
    <!--Small-->
    <div class="checkboxes-column">
        <div class="checkbox checkbox--sm">
            <input checked class="checkbox__field" id="checkbox5" name="checkbox" type="checkbox">
            <svg class="checkbox__icon icon-checked">
                <use xlink:href="assets/sprite.svg#icon-checked"></use>
            </svg>
            <label class="checkbox__label" for="checkbox5">Label, small</label>
        </div>
        <div class="checkbox checkbox--sm">
            <input checked class="checkbox__field" id="checkbox6" name="checkbox" type="checkbox">
            <svg class="checkbox__icon icon-checked">
                <use xlink:href="assets/sprite.svg#icon-checked"></use>
            </svg>
            <label class="checkbox__label" for="checkbox6">Label, small</label>
        </div>
        <div class="checkbox checkbox--sm">
            <input class="checkbox__field" id="checkbox7" name="checkbox" type="checkbox" disabled>
            <svg class="checkbox__icon icon-checked">
                <use xlink:href="assets/sprite.svg#icon-checked"></use>
            </svg>
            <label class="checkbox__label" for="checkbox7">Label, disabled</label>
        </div>
        <div class="checkbox checkbox--sm">
            <input checked class="checkbox__field" id="checkbox8" name="checkbox" type="checkbox" disabled>
            <svg class="checkbox__icon icon-checked">
                <use xlink:href="assets/sprite.svg#icon-checked"></use>
            </svg>
            <label class="checkbox__label" for="checkbox8">Label, disabled</label>
        </div>
    </div>
</div>





