<!--Tab component-->

<div class="tab">
    <div class="tab-menu">
        <a class="tab-menu__item active" href="#" onclick="return false">ITEM ONE</a>
        <a class="tab-menu__item" href="#" onclick="return false">ITEM TWO</a>
        <a class="tab-menu__item disabled" href="#" onclick="return false">ITEM THREE</a>
        <a class="tab-menu__item hide-tablet" href="#" onclick="return false">ITEM FOUR</a>
        <a class="tab-menu__item hide-tablet" href="#" onclick="return false">ITEM EXTRA LONG [ ... ]</a>
    </div>
    <div class="tab-content">
        <div class="tab-content__item active">ITEM ONE</div>
        <div class="tab-content__item">ITEM TWO</div>
        <div class="tab-content__item">ITEM THREE</div>
        <div class="tab-content__item hide-tablet">ITEM FOUR</div>
        <div class="tab-content__item hide-tablet">ITEM EXTRA LONG [ ... ]</div>
    </div>
</div>