<!--Component Switcher-->

<div class="wrapper">

    <label class="tumbler-flex">
        <span class="tumbler">
            <input class="tumbler__input" type="checkbox">
            <span class="tumbler__icon"></span>
        </span>
        <span class="tumbler-label text-14">Off</span>
    </label>

    <label class="tumbler-flex">
        <span class="tumbler tumbler--disabled">
            <input class="tumbler__input" type="checkbox" disabled>
            <span class="tumbler__icon"></span>
        </span>
        <span class="tumbler-label text-14">Off</span>
    </label>

</div>

<div class="toggler-flex">
    <div class="toggler ">
        <label class="toggler__item active">
            US & Canada
            <input class="toggler__input" name="toggler" type="radio" value="">
        </label>
        <label class="toggler__item">
            International Store
            <input class="toggler__input" name="toggler" type="radio" value="">
        </label>
    </div>
</div>

<div class="switcher-wrap switcher-wrap--short">
    <label class="switcher">
        <input class="switcher__input" name="gender" type="radio" value="">
        <span class="switcher__name">Male</span>
    </label>
    <label class="switcher">
        <input class="switcher__input" name="gender" type="radio" value="">
        <span class="switcher__name">Female</span>
    </label>
</div>

<div class="switcher-wrap">
    <label class="switcher">
        <input class="switcher__input" name="profile" type="radio" value="">
        <span class="switcher__name">Never</span>
    </label>
    <label class="switcher">
        <input class="switcher__input" name="profile" type="radio" value="">
        <span class="switcher__name switcher__name--long">1</span>
    </label>
    <label class="switcher">
        <input class="switcher__input" name="profile" type="radio" value="">
        <span class="switcher__name switcher__name--long">2</span>
    </label>
    <label class="switcher">
        <input class="switcher__input" name="profile" type="radio" value="">
        <span class="switcher__name switcher__name--long">3</span>
    </label>
</div>

<div class="switcher-wrap switcher-grid">
    <label class="switcher">
        <input class="switcher__input" name="switcher" type="radio" value="">
        <span class="switcher__name">Never</span>
    </label>
    <label class="switcher">
        <input class="switcher__input" name="switcher" type="radio" value="">
        <span class="switcher__name switcher__name--long">1</span>
    </label>
    <label class="switcher">
        <input class="switcher__input" name="switcher" type="radio" value="">
        <span class="switcher__name switcher__name--long">2</span>
    </label>
    <label class="switcher">
        <input class="switcher__input" name="switcher" type="radio" value="">
        <span class="switcher__name switcher__name--long">3</span>
    </label>
</div>
