<!--Component Links-->

<!--Links light background-->
<div class="links-table links-table--light">
    <div class="links-row">
        <a class="links-item link-primary" href="#" onclick="return false">Primary link</a>
    </div>
    <div class="links-row">
        <a class="links-item link-secondary" href="#" onclick="return false">Secondary link</a>
    </div>
</div>

<!--Links dark background-->
<div class="links-table links-table--dark">
    <div class="links-row">
        <a class="links-item link-white" href="#" onclick="return false">Primary menu link</a>
    </div>
    <div class="links-row">
        <a class="links-item link-secondary-light" href="#" onclick="return false">Secondary menu link</a>
    </div>
</div>
