<div class="ranger-line">
    <div class="ranger-item">
        <div class="ranger">
            <label class="ranger__label" for="ranger">
                    <span class="ranger__information">
                        <span class="text-12 text--semibold">Label</span>
                        <span class="ranger-indicator">
                            <span class="ranger-indicator__value"></span>
                        </span>
                    </span>
                <input id="ranger"
                       data-min="0"
                       data-max="14"
                       data-step="1"
                       value="2"
                       type="hidden"
                       name="ranger"
                       autocomplete="off"
                       class="ranger__input required-value"
                       data-time="0">
            </label>
            <i class="ranger-track__icon"></i>

            <div class="ranger-track__wrap">
                <div class="ranger-track">
                    <div class="ranger-track__distance">
                        <div class="ranger-track__handle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ranger-item">
        <div class="ranger">
            <label class="ranger__label" for="ranger1">
                    <span class="ranger__information">
                        <span class="text-12 text--semibold">Label</span>
                        <span class="ranger-indicator">
                            <span class="ranger-indicator__value"></span>
                        </span>
                    </span>
                <input id="ranger1"
                       data-min="0"
                       data-max="360"
                       data-step="30"
                       value="90"
                       type="hidden"
                       name="ranger1"
                       autocomplete="off"
                       class="ranger__input"
                       data-time="1">
            </label>
            <i class="ranger-track__icon icon-clock"></i>
            <div class="ranger-track__wrap">
                <div class="ranger-track">
                    <div class="ranger-track__distance">
                        <div class="ranger-track__handle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
